@import '../../media-queries.scss';

.form {
  max-width: 80rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: $bp-large) {
    margin-right: auto;
    margin-left: auto;
  }

  &__control {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: var(--secondary-color);
    margin-bottom: 2rem;
  }

  &__label {
    text-transform: capitalize;
    margin-bottom: 0.5rem;
  }

  &__input {
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid var(--secondary-color);
    padding: 0.75rem 1rem;
    color: currentColor;
  }

  &__error {
    color: red;
    font-size: 0.85em;
  }
}
