:root {
  --primary-color: #a3def0;
  --secondary-color: #6199aa;
  --background-color: #e5ffff;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: var(--background-color);
  color: #fff;
}
