@import './media-queries.scss';

.btn {
  border: 0;
  border-radius: 5px;
  text-transform: capitalize;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  transform: translateY(0) scale(1);
  transition: all 0.2s;

  @media only screen and (min-width: $bp-medium) {
    font-size: 1.75rem;
    padding: 1rem 3rem;
  }

  &:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: translateY(0);
  }
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin-bottom: 2rem;
}

.recent-title {
  grid-column: 1 / -1;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--secondary-color);

  @media only screen and (min-width: $bp-medium) {
    font-size: 2.25rem;
  }
}
