.btn {
  border: 0;
  text-transform: capitalize;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.project-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin-bottom: 2rem;
}
